<main class="character-info">
  <ng-container *ngIf="characterInfo; else characterNotFound">
    <h1>Character: {{ characterInfo.name }}</h1>
    <p><span>Description</span>: {{ characterInfo.name }}</p>
    <img [src]="characterInfo.thumbnail.path + '.' + characterInfo.thumbnail.extension" [alt]="characterInfo.name">
  </ng-container>

  <ng-template #characterNotFound>
    <p class="not-found">Character not found.</p>
  </ng-template>
</main>

<section class="buttons">
  <button (click)="returnToList()">Return to list</button>
</section>

