/* You can add global styles to this file, and also import other style files */
:root {
  box-sizing: border-box;
  margin: 0;
  background-color: #172554;
  font-family:
    Roboto,
    Helvetica Neue Light,
    Helvetica Neue,
    Helvetica,
    Arial,
    Lucida Grande,
    sans-serif;
}
